/* COMMON */
body {
  font-family: 'Roboto Slab', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.page {
  height: 100vh;
	background-image: url(../images/anonymous-server-background.jpg),linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%);
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	overflow: hidden;
	display: flex;
  right: 0;
	flex:1;
	flex-direction: column;
	position: relative;
	  &::after {
		content: '';
		position: absolute;
		transition: background ease 1s .3s;
	}
}




/* HEADER */
.page__header {}
.nav-trigger {
   background-image: url('../images/ico-menu.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-color: #402929;
   transition: background-color ease 0.7s;
   position: absolute;
   top: 20px;
   right: 20px;
   height: 50px;
   width: 50px;
   border-radius: 5px;
   border-style: none;
   cursor: pointer;
  }
  .nav-trigger:hover {
    background-color: #abab04;
  }
  .page--nav-visible .nav {
    transform: translate(0);
  }
  .page--nav-visible::after {
    content: '';
  }


/* MENU */
.nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(#402929, 0.92);
  z-index: 4;
  transform: translate(100%);
  transition: transform ease 0.8s;
}
.nav__items {
  margin: 20PX;
	padding: 50px 0 0;
  font-size: 1.8em;
	list-style: none;
}
.nav__item {
  text-align: center;
  line-height: 40px;
}
.nav__link {
  padding: 0 30px;
	display: block;
	color: grey;
	text-decoration: none;
	transition: color ease 0.3s;
}
.nav-close {
  background-image: url("../images/ico-close.svg");
  background-color: #1c1515e8;
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
  transition: background-color ease 0.5s;
  position: absolute;
  left: 100%;
  z-index: 2;
}
.nav-close:hover {
  background-color: #8e8989e8;
}



/* MAIN */
.page__main {}
.page__wrapper {
}
.page__main-title {
  align-content: center;
  font-size: 2em;
  color:#ffffff;
  text-transform: uppercase;
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

/* FOOTER */
.page__footer {
  display: flex;
  justify-content: center;
  position:absolute;
  left: 50px;
  bottom: 10px;
}
.page__wrapper {
}
.page__footer-copy {
  font-family: 'arial';
  background-color:hsla(0, 100%, 100%, 0.3);
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media all and (min-width: 768px) {
  .nav__items {
    font-size: 2.2em;
    padding-top: 164px;
  }
  .nav__item {
    line-height: 58px;
  }
  .page__main-title {
    font-size: 3.5em;
    margin-left: 60px;
    max-width: 990px;
  }
  .page__footer {
    left: 60px;
    right: 60px;
  }
}
@media all and (min-width: 830px) {
  .nav__item {
    line-height: 79px;
  }
}
@media all and (min-width: 940px) {
  .nav__items {
    font-size: 2.5em;
  }
  .page__main-title {
    font-size: 4.5em;
  }
  .page__footer {
    left: 60px;
    right: 60px;
  }
}
